<div class="root">
  <div v-if="!!currentUser">
    <el-popover
      placement="top-start"
      trigger="hover"
      popper-class="user-popper"
    >
      <avatar
        slot="reference"
        :username="currentUser.info.username"
        :size="35"
        :rounded="false"
      ></avatar>
      <div class="bottom">
        <div
          class="right"
          @click="logout"
        >
          退出
        </div>
      </div>
    </el-popover>
  </div>
  <div v-else>
    <el-button-group>
      <el-button
        type="primary"
        size="mini"
        @click="handleLogin"
      >
        登录
      </el-button>
      <el-button
        type="primary"
        size="mini"
      >
        注册
      </el-button>
    </el-button-group>
  </div>
</div>