<div class="root">
  <div
    class="block"
    @click="routeTo('/myLesson')"
  >
    <el-card>
      <div class="lesson center">
        <img
          :src="images.lesson"
          style="height:100%"
        />
        课程
      </div>
    </el-card>
  </div>
  <div
    class="
          block"
    @click="routeTo('/myComponent')"
  >
    <el-card>
      <div class="component center">
        <div class="title">
          &lt;component /&gt;
        </div>
        <div class="label">
          插件
        </div>
      </div>

    </el-card>
  </div>
</div>