.root {
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 50%;
  height: 240px;
  display: flex;
  align-items: stretch;

  .el-card {
    margin: 20px;
    flex: 1;
    cursor: pointer;

    .center {
      @include flex-container($false);
      text-align: center;
      flex-direction: column;
      height: 160px;
    }

    .component {
      .title {
        font-size: 32px;
        color: rgb(72, 188, 255);
      }
    }
  }
}