<div>
  <el-button type="success" @click="handlerCreateLesson">创建课程</el-button>
  <el-card v-for="lesson in lessonList" :key="lesson.id">
    <div slot="header">{{lesson.info.name}}</div>
    <div class="root">
      <div class="left" v-if="lesson.info.image?true:false">
        <img :src="lesson.info.image" class="image" />
      </div>
      <div class="right">
        <div class="text">{{lesson.info.message||"没有说明"}}</div>
        <div class="buttons">
          <span class="tab" />
          <el-button type="primary" @click="handlerReview(lesson)">复习</el-button>
        </div>
      </div>
    </div>
  </el-card>
</div>