<div>
  <div class="item">
    <span class="key">名称</span>
    <el-input class="value" v-model="lesson.info.name" placeholder="课程名称"></el-input>
  </div>
  <br />
  <div class="item">
    <span class="key">描述</span>
    <el-input class="value" v-model="lesson.info.message" placeholder="课程说明"></el-input>
  </div>
  <br />
  <div class="item">
    <span class="key">图片</span>
    <upload :prop="propUpload"></upload>
  </div>
  <br />
  <support-editor :prop="propSupportEditor"></support-editor>
</div>