.root{
  @include flex-container;
  :first-child{
    margin-left: 0;
  }
  :last-child{
    margin-right: 0;
  }
}
.tab{
  @include flex-container;
  @include secondary;
  @include button;
  padding:0 25px;
  margin: 0 2px;
  &.selected{
    @include primary;
  }
}