.root {
  @include flex-container;
  align-items: stretch;

  :first-child {
    margin-left: 0;
  }

  :last-child {
    margin-right: 0;
  }
}

.tab {
  @include flex-container;
  @include color-dark;
  @include button;
  padding: 0 25px;
  margin: 0 2px;

  &.selected {
    @include color-bright;
  }
}