.el-header {
  @include color-dark;
  @include flex-container;
  justify-content:space-around;
  .logo{
    flex:0.1;
    @include flex-container;
  }
  .item{
    @include flex-container;
  }
}
.el-main {
  @include color-background;
  @include flex-container;
  align-items:stretch;
  .page {
    width: 800px;
  }
}

