.el-header {
  @include color-dark;
  @include flex-container;
  justify-content: space-around;
  align-items: stretch;

  .logo {
    flex: 0.1;
    @include flex-container;
  }

  .item {
    @include flex-container;
    align-items: stretch;
  }
}

.el-main {
  @include color-background;
  @include flex-container;
  align-items: stretch;

  .page {
    width: 800px;
  }
}