@mixin color-bright {
  background-color: #ffc000;
  color: #2b3648;
}

@mixin color-dark {
  background-color: #2b3648;
  color: #fcfaf2;
}

@mixin color-background {
  background-color: #fcfaf2;
}

@mixin clickable($color) {
  cursor: pointer;

  &:hover {
    background-color: $color
  }
}

@mixin button($color:rgb(236, 236, 236)) {
  @include clickable($color);
  font-weight: 600;
}

@mixin flex-container {
  display: flex;
  align-items: center;
  justify-content: center;

  //height:100%;
  .item {
    flex: 1;
  }
}