$true:true;
$false:false;
$undefined:undefined;

@mixin color-bright {
  background-color: #ffc000;
  color: #2b3648;
}

@mixin color-dark {
  background-color: #2b3648;
  color: #fcfaf2;
}

@mixin color-background {
  background-color: #fcfaf2;
}

@mixin clickable($color:$undefined) {
  cursor: pointer;

  @if($color !=$undefined) {
    &:hover {
      background-color: $color
    }
  }
}

@mixin button($color:rgb(236, 236, 236)) {
  @include clickable($color);
  font-weight: 600;
}

@mixin flex-container($full:$false) {
  display: flex;
  align-items: center;
  justify-content: center;

  @if $full==$true {
    height: 100%;
    width: 100%;
  }

  .item {
    flex: 1;
  }
}

@mixin flex-table($label-width, $margin:8) {
  .row {
    &:not(:first-of-type) {
      margin-top: 16px;
    }

    display: flex;
    align-items: center;

    .key {
      display: inline-block;
      width: $label-width;
      text-align: right;
      margin-right: $margin;
    }

    .value {
      display: inline-block;
      flex: 1;
      margin-left: $margin;
    }
  }
}